body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-size: 24px;
    color: #C262AF;
    font-family: sans-serif;
}
hr{
    width: 55%;
    color: #C262AF;
}
h4{
    font-family: sans-serif;
    text-align: center;
    color: #C262AF;
}
.s1{
    margin-left: 2%;
    float: left;
    width: 22%;
    box-shadow: 0 0 20px #C262AF;
}
.s1 p{
    width: 87%;
    padding-left: 10px;
    padding-right: 10px;
}
.s1 h3{
    font-family: sans-serif;
    padding-left: 30px;
    font-size: 20px;
}
.s1 img{
    width: 94%;
    margin-top: 3%;
    padding-left: 3%;
    text-align: center;
}
.s2{
    margin-left: 2%;
    margin-top: 13%;
    margin-bottom: 4%;
    float: left;
    width: 22%;
    box-shadow: 0 0 20px #C262AF;
}
.s2 p{
    width: 87%;
    padding-left: 10px;
    padding-right: 10px;
}
.s2 h3{
    font-family: sans-serif;
    padding-left: 30px;
    font-size: 20px;
}
.s2 img{
    width: 94%;
    margin-top: 3%;
    padding-left: 3%;
    text-align: center;
}
.todo{
    margin-left: 21%;
}
.clear{
    clear: both;
}